<div class="container" ng-controller="MainCtrl as app">
  <div class="jumbotron text-center">
    <div ng-hide="app.user">
      <h1> Please login to continue... </h1>
      <p>
        <button class="btn btn-lg btn-primary" ng-click="app.login()">
          Login with GitHub
        </button>
      </p>
    </div>
    <div ng-show="app.user">
      <h1> Hello, {{app.user.name}}! </h1>

      <button class="btn btn-danger" ng-click="app.logout()">
        Logout
      </button>
    </div>
 </div>
</div>
