.browsehappy {
  margin: 0.2em 0;
  background: red;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}
body {
  background-color: #39474E;
}

/* === student UI === */
h1 {
  display: none;
  color: #fff;
  text-align: center;
  opacity: 1;
}
h2 {
  color: #ffffff;
  text-align: center;
  padding-bottom: 1ex;
}
.btn-group-vertical{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
.btn{
  line-height: 7ex;
  text-align: left;
  font-size: 1.2em;
  white-space: normal;
  padding-top: 3ex;
  padding-bottom: 3ex;
  line-height: 3ex;
}
.container{
  margin-top: 4ex;
  margin-bottom: 4ex;
  padding-bottom: 4ex;
  border: 4px solid #A5A2A1;
  border-radius: 25px;
}
.submit{
  opacity: 0.3
}
.display-h1 {
  display: block;
  position: absolute;
  font-size: 5em;
  margin-top: -8ex;
}
