body {
  background-color: #39474E;
}
.navbar {
  background-color: inherit;
}

/* === login UI === */
#login {
  width: 30em;
  margin-top: 5ex;
}
#login h1 {
  color: #fff;
}
#login .btn{
  /*line-height: 5ex;
  font-size: 2ex;*/
  text-align: left;
}
#login img{
  vertical-align: middle;
  margin-right: 1.8em;
  width: 13%;
}
#login .btn-danger{
    font-size: 3ex;
    text-align: center;
}
.container .jumbotron {
  width: 26.5em;
  border: 5px solid #A5A2A1;
  border-radius: 25px;
  padding: 2ex 1em 6ex 1em;
  background-color: inherit;
}


/* === student UI === */
.navbar .btn-danger {
  float: right;
  margin-right: 8px;
}
h3{
  float: left;
  color: #fff;
  margin-top: 10px;
  margin-left: 8px;
}
#student{
  margin-top: 4ex;
  margin-bottom: 4ex;
  padding-bottom: 4ex;
  border: 4px solid #A5A2A1;
  border-radius: 25px;
}
#student h2 {
  color: #ffffff;
  text-align: center;
  padding-bottom: 1ex;
}
#student .btn-group-vertical{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
#student .btn{
  text-align: left;
  white-space: normal;
  margin-bottom: 1.5ex;
  line-height: 2.5ex;
}

#student>h1 {
  color: #fff;
  text-align: center;
  opacity: 1;
  margin-top: -9ex;
  font-size: 9ex;
}
.submit{
  opacity: 0.3
}

/*---Instructor--*/
#instructor{
  margin-top: 4ex;
  margin-bottom: 4ex;
  padding-bottom: 4ex;
  border: 4px solid #A5A2A1;
  border-radius: 25px;
}
.progress{
  margin-top:4ex;
  margin-bottom:0;
  padding-bottom:0;
}
