.browsehappy {
  margin: 0.2em 0;
  background: red;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}



body {
  background-color: #39474E;
}
h2 {
  color: #ffffff;
  display: inline;
}
.btn-group-vertical{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

.btn{
  line-height: 7ex;
  text-align: left;
  font-size: 1.2em;
}
